@font-face {
  font-family: "Battambong";
  src: url("../fonts/Battambang/Battambang-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Koulen";
  src: url("../fonts/Koulen/Koulen-Regular.ttf");
}
body {
  font-family: "Battambang", "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koulen", "Roboto";
}

a.nav-link.active,
a.nav-link {
  font-family: "Koulen", "Roboto" !important;
}

a.nav-link {
  color: rgb(8, 8, 11);
}

a.nav-link:hover,
a.nav-link.active {
  color: rgb(86, 6, 9);
}

img.category_img {
  aspect-ratio: 3 / 3;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 15px;
}

.category-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.category-card {
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  transition: 0.25s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.category_img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: 0.25s;
}

.category-card p {
  margin: 0;
  font-size: 14px;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.category-card:hover .category_img {
  transform: scale(1.1);
}

.category-card:active {
  transform: scale(0.92);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
button.btn-primary{
  background-color: rgb(156, 245, 245);
  color: black;
}